### Importing Liabraries

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

### Assigning Path

In [2]:
path = r'/Users/ishitabhasin/Desktop/Career Foundary Tasks/Achievement 6'

### Importing Dataset

In [3]:
df_choc = pd.read_csv(os.path.join(path,'flavors_of_cacao.csv'),index_col = False)

In [4]:
df_choc.shape

(1795, 9)

In [5]:
df_choc.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [6]:
df_choc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [7]:
df_choc.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

### Data Cleaning

#### 1.Renaming Columns

In [8]:
# Remaning Columns for consistency
cols = {
    'Company\xa0\n(Maker-if known)' : "Company_name",
    'Specific Bean Origin\nor Bar Name' : "Bar_origin",
    'REF' : "Ref", 
    'Review\nDate' : "Review_date", 
    'Cocoa\nPercent' : "Cocoa_percentage", 
    'Company\nLocation' : "Company_location", 
    'Rating' : "Rating",
    'Bean\nType' : "Bean_type", 
    'Broad Bean\nOrigin' : "Bean_origin"
}
df_choc.rename(columns=cols, inplace=True)

In [9]:
#Checking output
df_choc.columns

Index(['Company_name', 'Bar_origin', 'Ref', 'Review_date', 'Cocoa_percentage',
       'Company_location', 'Rating', 'Bean_type', 'Bean_origin'],
      dtype='object')

In [10]:
df_choc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company_name      1795 non-null   object
 1   Bar_origin        1795 non-null   object
 2   Ref               1795 non-null   int64
 3   Review_date       1795 non-null   int64
 4   Cocoa_percentage  1795 non-null   object
 5   Company_location  1795 non-null   object
 6   Rating            1795 non-null   float64
 7   Bean_type         1794 non-null   object
 8   Bean_origin       1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [11]:
df_choc.describe(include='all')

,Company_name,Bar_origin,Ref,Review_date,Cocoa_percentage,Company_location,Rating,Bean_type,Bean_origin
count,1795,1795,1795.000000,1795.000000,1795,1795,1795.000000,1794,1794
unique,416,1039,NaN,NaN,45,60,NaN,41,100
top,Soma,Madagascar,NaN,NaN,70%,U.S.A.,NaN,,Venezuela
freq,47,57,NaN,NaN,672,764,NaN,887,214
mean,NaN,NaN,1035.904735,2012.325348,NaN,NaN,3.185933,NaN,NaN
std,NaN,NaN,552.886365,2.927210,NaN,NaN,0.478062,NaN,NaN
min,NaN,NaN,5.000000,2006.000000,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,576.000000,2010.000000,NaN,NaN,2.875000,NaN,NaN
50%,NaN,NaN,1069.000000,2013.000000,NaN,NaN,3.250000,NaN,NaN
75%,NaN,NaN,1502.000000,2015.000000,NaN,NaN,3.500000,NaN,NaN
max,NaN,NaN,1952.000000,2017.000000,NaN,NaN,5.000000,NaN,NaN

In [12]:
df_choc['Bean_type'].unique()

array(['\xa0', 'Criollo', 'Trinitario', 'Forastero (Arriba)', 'Forastero',
       'Forastero (Nacional)', 'Criollo, Trinitario',
       'Criollo (Porcelana)', 'Blend', 'Trinitario (85% Criollo)',
       'Forastero (Catongo)', 'Forastero (Parazinho)',
       'Trinitario, Criollo', 'CCN51', 'Criollo (Ocumare)', 'Nacional',
       'Criollo (Ocumare 61)', 'Criollo (Ocumare 77)',
       'Criollo (Ocumare 67)', 'Criollo (Wild)', 'Beniano', 'Amazon mix',
       'Trinitario, Forastero', 'Forastero (Arriba) ASS', 'Criollo, +',
       'Amazon', 'Amazon, ICS', 'EET', 'Blend-Forastero,Criollo',
       'Trinitario (Scavina)', 'Criollo, Forastero', 'Matina',
       'Forastero(Arriba, CCN)', 'Nacional (Arriba)',
       'Forastero (Arriba) ASSS', 'Forastero, Trinitario',
       'Forastero (Amelonado)', nan, 'Trinitario, Nacional',
       'Trinitario (Amelonado)', 'Trinitario, TCGA', 'Criollo (Amarru)'],
      dtype=object)

We see that in the bean type column there is a improper value '\xa0', so we will be replacing this with NaN

In [13]:
df_choc = df_choc.replace(u'\xa0', np.NaN)

#### 2. Finding Duplicates

In [14]:
#finding duplicates
df_choc[df_choc.duplicated()]

Empty DataFrame
Columns: [Company_name, Bar_origin, Ref, Review_date, Cocoa_percentage, Company_location, Rating, Bean_type, Bean_origin]
Index: []

we see that the dataset contains no duplicate values

#### 3. Finding Missing Values

In [15]:
df_choc.isnull().sum()

Company_name          0
Bar_origin            0
Ref                   0
Review_date           0
Cocoa_percentage      0
Company_location      0
Rating                0
Bean_type           888
Bean_origin          74
dtype: int64

In [16]:
#Find the percentage of missing values

percentage_missing = df_choc.isnull().sum().sort_values(ascending=False) * 100/len(df_choc)
percentage_missing = percentage_missing[percentage_missing > 0]
percentage_missing

Bean_type      49.470752
Bean_origin     4.122563
dtype: float64

Since 49% of the bean type of data has empty values I am going to drop this column for analysis.

#### 4. Dropping Columns

In [17]:
df_choc = df_choc.drop('Bean_type', axis=1)
df_choc.isnull().sum()

Company_name         0
Bar_origin           0
Ref                  0
Review_date          0
Cocoa_percentage     0
Company_location     0
Rating               0
Bean_origin         74
dtype: int64

Also, 4% of broad_bean_origin is missing, so let us remove the rows which has value null for this column for better analysis.

In [18]:
#check for mixed data type
for col in df_choc.columns.tolist():
  weird = (df_choc[[col]].applymap(type) != df_choc[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_choc[weird]) > 0:
    print (col)

Bean_origin

In [19]:
#converted the mixed data type into string
df_choc['Bean_origin'] = df_choc['Bean_origin'].astype('str')

In [20]:
#check for mixed data type again
for col in df_choc.columns.tolist():
  weird = (df_choc[[col]].applymap(type) != df_choc[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_choc[weird]) > 0:
    print (col)

Mixed valued addressed

In [21]:
df_choc_clean = df_choc.dropna(axis=0)
df_choc_clean.isnull().sum()

Company_name        0
Bar_origin          0
Ref                 0
Review_date         0
Cocoa_percentage    0
Company_location    0
Rating              0
Bean_origin         0
dtype: int64

Now we have handled the missing or null values in the dataset, and there are no null values in the dataset.

In [22]:
df_choc_clean.shape

(1795, 8)

#### 5. Exporting cleaned dataset

In [23]:
df_choc_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_choc_clean.csv'))